body {
  font-size: 14px;
}

.wrapper_top{
  width: 1100px;
  margin: 0 auto;
}
.wrapper {
  width: 980px;
  margin: 0 auto;
}
.singer_header{
      display: flex;
      justify-content: space-between;
      width: 210px;
      height: 23px;
      font-size: 12px;
      margin: 0 20px;
      border-bottom: 1px solid #ccc;
}
.btn_sprite{
  display: inline-block;
  background: url(../sprite/button_left+right.png) no-repeat;
  height: 31px;
  line-height: 31px;
  text-align: center;
}
.btn_01_sup{
  background-position: right -100px;
  /* 留出right边框的距离 */
  padding-right: 4px;
}
.btn_01_sub{
  background-position: 0 -59px;
  /* 因为父元素留了4px,为了使元素居中子元素也应留4px */
  padding-left: 4px;
  font-style: normal;
  font-weight: 700;
}
/* cover, icon-music ,icon-play */
.sprite_cover {
  background-image: url(../sprite/music_cover_sprite.png);
  display: inline-block;
}

.sprite_icon {
  background-image: url(../sprite/music_icon_all.png);
  display: inline-block;
}

.sprite_icon_music {
  width: 14px;
  height: 11px;
  background-position: 0 -24px;
}

.sprite_icon_paly {
  width: 16px;
  height: 17px;
  background-position: 0 0;

}