.main .wrapper .right .login {
  width: 250px;
  height: 126px;
  background: url(./sprite/mian_index.png);
}

.main .wrapper .right .login .desc {
  width: 205px;
  margin: 0 auto;
  padding-top: 16px;
  color: #666;
  font-size: 12px;
  line-height: 22px;
}

.main .wrapper .right .login .btn {
  display: block;
  width: 100px;
  height: 31px;
  margin: 15px auto;
  line-height: 31px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  text-shadow: 0 1px #8a060b;
  background: url(./sprite/mian_index.png) 0 -195px;
}

.main .right .singer {
  margin: 15px 0 0;
  text-align: center;
}

/* .main .right .singer .header {
    display: flex;
    justify-content: space-between;
    width: 210px;
    height: 23px;
    font-size: 12px;
    margin: 0 20px;
    border-bottom: 1px solid #ccc;
  } */

.main .singer .header .settle-singer {
  font-weight: 700;
}

.main .singer .header .more {
  color: #666;
}

.main .singer .header .more:hover {
  text-decoration: underline;
}

.main .right .singer .singer-list {
  margin: 20px auto;
  width: 210px;
  /* background-color: rgb(164, 112, 112); */

}

.main .right .singer-list .item {
  display: flex;
  width: 210px;
  height: 62px;
  margin-top: 15px;
  background-color: #fafafa;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
}

.main .singer-list .info {
  padding: 0px 12px;
  /* padding-top: 10px; */

}

.main .singer-list .info .hot-singer {
  margin-top: 8px;
  font-weight: 700;
  /* background-color: rgb(210, 149, 149); */
}

.main .singer-list .info .desc {
  font-size: 12px;
  margin-top: 8px;
}

.main .right .singer .btn_01_sup {
  font-size: 12px;
  width: 210px;
  border-radius: 4px;
  box-sizing: border-box;
}

.main .right .singer .btn_01_sub {
  width: 202px;
}


.main .right .singer .hot-anchor {
  font-weight: 700;
  margin-top: 25px;
}