.main .wrapper .left .header_l {
  display: flex;
  justify-content: space-between;
  
  width: 689px;
  height: 35px;
  border-bottom: 2px solid #C10D0C;
  background: url(../sprite/mian_index.png) no-repeat -225px -156px;
}

.main .left .header_l .left-header {
  display: flex;
}

.main .left .header_l .keywords {
  display: flex;
}