.main .wrapper .left .header_l {
  position: relative;
  display: flex;
  justify-content: space-between;
  /* width: 689px; */
  /* margin: 0 auto; */
  height: 35px;
  /* padding-left: 34px; */
  padding-right: 22px;
  box-sizing: border-box;
  border-bottom: 2px solid #C10D0C;
  background: url(../sprite/mian_index.png) no-repeat -225px -156px;
}

.main .header_l::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  right: 5px;
  bottom: 8px;
  background: url(../sprite/mian_index.png) 0 -240px;
}

.main .left .header_l .left-header {
  display: flex;
  padding-left: 35px;
  align-items: flex-end;
  padding-bottom: 8px;
}

.main .left .header_l .hot-all {
  font-size: 20px;
  margin-right: 20px;
}

.main .left .header_l .keywords {
  display: flex;
}

.main .left .header_l .keywords {
  display: flex;
  /* font-weight: 700; */
  font-size: 12px;
  color: #666;
}

.main .left .header_l .keywords .items {
  font-size: 12px;
  color: #666;
}

/* q:为什么全选不上 */

.main .left .header_l .keywords .line {
  margin: 0 14px;
}

.main .left .header_l .right-header {
  display: flex;
  /* padding-top: 10px; */
  background-color: rgb(193, 52, 52);
}

.main .left .header_l .right-header .more {
  
  height: 15px;
  font-size: 12px;
  color: #666;
  /* line-height: 30px; */
  bottom: 0;
  background-color: rgb(255, 255, 255);
}