.main .left {
  width: 729px;
}

.main .left .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 2px;
}

.main .left .list .item {
  width: 140px;
  margin-bottom: 30px;
}

.main .left .list .item .top {
  position: relative;
}

.main .left .list .item .top .cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-image: url(../sprite/music_cover_sprite.png); */

  background-position: 0 0;
}

.main .left .item .top .info {
  position: absolute;
  color: rgb(255, 255, 255);
  bottom: 0;
  /* 为什么不能用width: 100%*/
  left: 0;
  right: 0;
  height: 27px;
  font-size: 12px;
  line-height: 27px;
  padding-left: 7px;
  /* background-image: url(../sprite/music_cover_sprite.png); */
  background-position: 0 -537px;
}

.main .left .item .top .info .icon-music {
  margin-right: 2px;
}

.main .left .item .top .info .icon-play {
  position: absolute;

  display: inline-block;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto 0;
  margin-top: 5px;
  width: 16px;
  height: 17px;
  /* background-position: 0 0; */
  /* background-image: url(../sprite/music_icon_all.png); */
}

.main .left .item .bottom {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
}

.main .left .item .bottom:hover {
  text-decoration: underline;
}

.main .left .disc {
  height: 186px;
  margin: 20px 0;
  border: 1px solid #d3d3d3;
  background-color: rgb(166, 91, 91);
}

.main .left .disc .inner {
  height: 184px;
  box-sizing: border-box;
  padding: 0 25px;
  border: 1px solid #ffffff;
  background: #f5f5f5;
}

.main .left .disc .inner .roll {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.main .left .disc .inner .roller-flag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  flex-shrink: 0;
}

.main .left .disc .inner .roller-flag li {
  /* display: inline; */
  width: 118px;
  height: 150px;
  background: url(../sprite/main_index.png) no-repeat -260px 100px;

}

.main .left .disc .inner .roll .album {
  position: relative;
}

.main .left .disc .roll .album .flag-cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(../sprite/music_cover_sprite.png) no-repeat 0 -570px;
}

.main .left .disc .roll .album .flag-play {
  position: absolute;
  right: 1px;
  bottom: 5px;
  width: 16px;
  height: 17px;
  background: url(../sprite/music_icon_all.png) 0 -85px;
}

.main .left .disc .roll .item a {
  display: block;

}