.main .left {
  width: 729px;
}

.main .recommend_01 .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 2px;
}

.main .recommend_01 .list .item {
  width: 140px;
  margin-bottom: 30px;
}

.main .recommend_01 .list .item .top {
  position: relative;
}

.main .recommend_01 .list .item .top .cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../sprite/music_cover_sprite.png);

  background-position: 0 0;
}
.main .left .recommend_01 .item .top .info {
  position: absolute;
  color: rgb(255, 255, 255);
  bottom: 0;
  /* 为什么不能用width: 100%*/
  left: 0;
  right: 0;
  height: 27px;
  font-size: 12px;
  line-height: 27px;
  padding-left: 7px;
  background-position: 0 -537px;
  /* background-image: url(../img/music_cover_sprite.png); */
}